<div class="col-md-9 offset-3">
    <p><label>Category:</label> <%= @movie.category %></p>
    <p><label>Title:</label> <%= @movie.title %></p>
    <p><label>Text:</label> <%= @movie.text %></p>
</div>